@import 'variables';
@import 'mixin';

/*============================
  ===== games css starts =====
==============================*/
#games{
  background: $bg2;
  padding-bottom: 100px;
  .heading{
    h1{
      @include header;
      padding-top: 180px;
      padding-bottom: 60px;
    }
  }
  .item-image{
    position: relative;
    overflow: hidden;
    &:hover .overlay{
      left: 0;
    }
    .overlay{
      @include transition;
      @include over85;
      position: absolute;
      top: 0;
      left: -100%;

      h3{
        @include openreg;
        font-size: 24px;
        color: #fff;
        padding-top: 165px;
        padding-bottom: 40px;
      }
      
      button{
        border: none;
        border-bottom: 5px solid #3a0090;
        border-radius: 10px;
        padding: 14px 30px;
        text-shadow: 5px 5px 1px rgba(0, 0, 0, .2);
        background: linear-gradient(#9c4cfa, #590ec9);
        color: #fff;
        @include antonreg;
        font-size: 20px;
        position: relative;
        @include transition;
        z-index: 1;
  
        &::after{
          content: '';
          height: 100%;
          width: 100%;
          background: linear-gradient(#fc37d9, #aa0288);
          border-radius: 8px;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          @include transition;
          z-index: -1;
        }
  
        &:hover{
          border-bottom: 5px solid #661355;
        }
        &:hover::after{
          opacity: 1;
        }
      }
    }
  }
}




/*===========================
  ===== banner css ends =====
=============================*/