@import 'variables';
@import 'mixin';


/* ==========================
===== navbar css srarts =====
=============================*/
#navbar{
  background: $bg1;
  .navbar{
    .navbar-brand{
      margin-left: 0;
    }
    #navbarNav{
      margin-top: 50px !important;
    }
    button{
      margin-left: 20px;
      border: none;
      border-bottom: 5px solid #661355;
      border-radius: 10px;
      padding: 14px 30px;
      text-shadow: 5px 5px 1px rgba(0, 0, 0, .2);
      background: linear-gradient(#fc37d9, #aa0288);
      color: #fff;
      @include antonreg;
      font-size: 20px;
      position: relative;
      @include transition;
      z-index: 1;

      &::after{
        content: '';
        height: 100%;
        width: 100%;
        background: linear-gradient(#9c4cfa, #590ec9);
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        @include transition;
        z-index: -1;
      }

      &:hover{
        border-bottom: 5px solid #3a0090;
      }
      &:hover::after{
        opacity: 1;
      }

      &:first-of-type{
        margin-left: 0;
      }
    }
    .navbar-nav{
      margin-top: 20px !important;
      .nav-item{
        .active{
          color: #ff39dc !important;
        }
        .nav-link{
          @include nunitomed;
          font-size: 20px;
          color: #944bff;
          margin-right: 50px;
          transition: all linear 0.4s;
          display: inline !important;
  
          &:hover{
            color: #ff39dc;
          }
        }
      }
    }
  }
}

/* ========================
===== navbar css ends =====
===========================*/