@import 'variables';
@import 'mixin';
/*==============================
  ===== payment css starts =====
================================*/
#payment{
  background: linear-gradient(#9c4cfa, #590ec9);
  border-bottom: 5px solid #3a0090;

  .offers-area{
    h1{
      @include antonreg;
      font-size: 32px;
      color: #fff;
      text-shadow: 3px 3px 1px rgba(0, 0, 0, .4);
      padding-top: 30px;
      padding-bottom: 20px;
    }
    form{
      margin-bottom: 30px;
      border: 1px solid #150035;
      width: 520px;

      i{
        color: #3a0090;
        font-size: 16px;
      }

      input{
        background: transparent;
        border: none;
        border-right: 1px solid #150035;
        color: #3a0090;
        @include nunitoreg;
        font-size: 14px;
        &::placeholder{
          color: #3a0090;
          @include nunitoreg;
          font-size: 14px;
        }
        &:focus{
          box-shadow: none;
        }
      }
    }
  }
  .payment-area{
    h1{
      @include antonreg;
      font-size: 32px;
      color: #fff;
      text-shadow: 3px 3px 1px rgba(0, 0, 0, .4);
      padding-top: 30px;
      padding-bottom: 20px;
    }
    .payment-option{
      a{
        img{
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}



/*============================
  ===== payment css ends =====
==============================*/